<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                @ahocevar<br />
                Geospatial web software developer, bike enthusiast<br>
                <a href="http://ahocevar.com/">More information</a>
              </p>
            </div>
            <div><iframe src="https://github.com/sponsors/ahocevar/button" title="Sponsor ahocevar" height="35" width="116" style="border: 0;"></iframe></div>
            <div class="contact">
              <p>
                <a href="https://github.com/ahocevar">github.com/ahocevar</a><br>
                <a href="https://twitter.com/ahoce">twitter.com/ahoce</a><br>
                <a href="https://firmen.wko.at/Web/DetailsKontakt.aspx?FirmaID=fc1150d0-b795-460d-82fa-54a4cf6da862">Contact information</a><br>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
